<template>
  <div class="c-networkView">
    <div v-for="stream in streams" :key="stream.id">
      <stream-view :stream="stream"></stream-view>
    </div>
  </div>
</template>

<script>
  import StreamView from './StreamView.vue'

  export default {
    components: {
      StreamView
    },
    props: {
      network: Object
    },
    data() {
      return {
        streams: [{name: "test"}]
      }
    },
    mounted: function () {
      this.render();
    },
    watch: {
      network(val) {
        this.render();
      }
    },
    methods: {
      render() {
        if (this.network) {
          for (let i = 0; i < this.network.streams.length; i++) {
            this.network.streams[i].id = i;
          }
          this.streams = this.network.streams;
        }
      }
    }
  }
</script>

<style scoped>
</style>
