<template>
  <div class="c-streamView">
    <div>
      {{stream.protocol}}
    </div>
    <svg id="svg"></svg>
  </div>
</template>

<script>
  import * as d3 from "d3";
  import _ from "lodash";

  const BS = 25;
  const SRC = 150;
  const DST = 350;

  export default {
    props: {
      stream: Object
    },
    data() {
      return {
        height: 0,
        width: 500
      }
    }, mounted: function () {
      if (this.stream.paths) {
        this.render();
      }
    },
    methods: {
      render() {
        let sources = this.getUniqueLocations(this.stream, 'source');
        let destinations = this.getUniqueLocations(this.stream, 'destination');
        let sourceSwitches = this.positionPorts(sources, SRC);
        let destinationSwitches = this.positionPorts(destinations, DST);

        var root = d3.select(this.$el).select("#svg");
        root.attr('width', this.width)
          .attr('height', this.height);
        root.selectAll("*").remove();
        var y1 = this.renderPorts(root, sources, false);
        var y2 = this.renderPorts(root, destinations, true);
        var sy = Math.min(y1, y2);

        root.append("line")
          .attr('class', 'stream-connector')
          .attr('x1', SRC + BS * 2)
          .attr('y1', sy)
          .attr('x2', DST - BS)
          .attr('y2', sy);

        this.renderSwitches(root, sourceSwitches, SRC - BS * 5, SRC + BS);
        this.renderSwitches(root, destinationSwitches, DST, DST + BS * 6);
      },

      renderSwitches(svg, switches, x1, x2) {
        var data = svg.selectAll("empty").data(switches).enter();

        data.append('rect')
          .attr('class', 'switch')
          .attr("x", x1)
          .attr("y", it => it.y1)
          .attr("width", x2 - x1)
          .attr("height", it => it.y2 - it.y1);

        data.append('text')
          .attr("x", x1 + BS + 15)
          .attr("y", it => it.y1 + 15)
          .html(it => it.id);
      },

      renderPorts(root, ports, invert) {
        var x = _.min(ports.map(it => it.x));
        var y1 = _.min(ports.map(p => p.y)) + BS / 2;
        var y2 = _.max(ports.map(p => p.y)) + BS / 2;
        var data = root.selectAll("empty").data(ports).enter();

        var g = data.append('g');

        g.append('rect')
          .attr('class', 'port')
          .attr("x", it => it.x)
          .attr("y", it => it.y)
          .attr("width", BS)
          .attr("height", BS);

        g.append('text')
          .attr("x", it => it.x + 10)
          .attr("y", it => it.y + 15)
          .html(it => it.port);

        data.append("line")
          .attr('class', 'connector')
          .attr('x1', it => invert ? it.x : it.x + BS)
          .attr('y1', it => it.y + BS / 2)
          .attr('x2', it => invert ? it.x - BS : it.x + BS * 2)
          .attr('y2', it => it.y + BS / 2);

        root.append("line")
          .attr('class', 'connector')
          .attr('x1', invert ? x - BS : x + BS * 2)
          .attr('y1', y1)
          .attr('x2', invert ? x - BS : x + BS * 2)
          .attr('y2', y2);

        return y1 + (y2 - y1) / 2;
      },

      getUniqueLocations(stream, property) {
        let res = _.flatMap(stream.paths, p => p[property].networkLocation);
        res = _.uniqBy(res, it => it.switchId + it.port);
        res = _.orderBy(res, ['switchId', 'port']);
        return res;
      },

      positionPorts(ports, x) {
        var switches = [];
        var y = BS * 2;
        var prev;
        var sw;
        ports.forEach(p => {
          // if (prev && prev.switchId !== p.switchId) {
          //   //y += BS;
          // }
          p.x = x;
          p.y = y;
          if (sw == null) {
            sw = {id: p.switchId, y1: p.y};
          } else {
            if (sw.id !== p.switchId) {
              sw.y2 = p.y - BS;
              switches.push(sw);
              sw = {id: p.switchId, y1: p.y};
            }
          }
          y += (BS * 2);
          prev = p;
        });
        if (sw != null) {
          sw.y2 = y - BS;
          switches.push(sw);
        }
        var h = y + BS * 2;
        if (h > this.height) {
          this.height = h;
        }
        return switches;
      }

    }
  }
</script>

<style>
  .c-streamView {
    margin-bottom: 10px;
  }

  .port {
    stroke-width: 2;
    stroke: black;
    fill: none;
  }

  .switch {
    stroke-width: 1;
    stroke: black;
    fill: none;
  }

  .connector {
    stroke-width: 2;
    stroke: black;
    fill: none;
  }

  @keyframes flowing {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: -10;
    }
  }

  .stream-connector {
    stroke-width: 2;
    stroke: black;
    fill: none;
    stroke-dasharray: 9 1;
    stroke-dashoffset: 0;
    animation: 0.5s linear 0s infinite flowing;
  }

</style>
