<template>
  <div id="app">
    <network-view :network="network"></network-view>
  </div>
</template>

<script>
  import axios from "axios";
  import NetworkView from "./components/NetworkView.vue";

  export default {
    name: "app",
    components: {
      NetworkView
    },
    mounted() {
      this.getData();
    },
    data() {
      return {
        network: null
      };
    },
    methods: {
      getData() {
        axios.get("tree.json")
                .then(response => {
                  const payload = response.data;
                  this.network = payload;
                });
      }
    }
  };
</script>

<style>
</style>
